@use 'variables' as *;

section.yellow {
    position: relative;
    background-color: $color-yellow;
    width: 1100px;
    margin: calc(176px * 2) 0;
    padding: 70px 150px;

    &.yellow--right {
        margin-left: auto;
        text-align: right;
    }

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: '';
        z-index: -1;
        height: 176px;
        width: 1100px;
        border-style: solid;
        border-width: 88px 550px;
    }

    &.yellow--left::before {
        left:0;
        top: -176px;
        border-color: transparent transparent $color-yellow $color-yellow;
    }

    &.yellow--right::before {
        right: 0;
        top: -176px;
        border-color: transparent $color-yellow $color-yellow transparent;
    }

    &.yellow--left::after {
        left: 0;
        top: 100%;
        border-color: $color-yellow transparent transparent $color-yellow;
    }

    &.yellow--right::after {
        right: 0;
        top: 100%;
        border-color: $color-yellow $color-yellow transparent transparent;
    }

    .anchor {
        position: absolute;
        top: -176px;
        left: 0;
    }

    a {
        background-image: linear-gradient(white, white);
    }
}

section.picture {
    margin-top: -176px;
    position: relative;

    img {
        width: 1100px;
        /* Works for a 3:2 ratio */
        clip-path: polygon(0 0, 100% 176px, 100% 557px, 0 100%);
    }

    p {
        background-color: $color-yellow;
        padding: 10px;
        z-index: 1;
        position: absolute;
        bottom: 130px;
        left: 150px;
    }
}