// colors
$color-yellow: yellow;
$color-dark-grey: #333333;

// fonts
$font-family-header-normal: GlacialIndifferenceRegular;
$font-family-header-bold: GlacialIndifferenceBold;
$font-family-body: Inconsolata;

$font-size-normal: 20px;
$font-size-large: 30px;
$font-size-xlarge: 66px;
$font-size-xxlarge: 100px;
