
        <p>
            Le DNMADE mention Produit vise à recruter des bacheliers issus de formations technologiques, générales et
            professionnelles qui soient curieux, ouverts, autonomes, investis, entreprenants, manuels et créatifs. Ils
            doivent manifester de l’intérêt pour la culture visuelle, le design de produits, le packaging, les nouvelles
            innovations techniques et scientifiques.
        </p>
        <p>
            Effectif par promotion : <b>15 étudiants</b>
        </p>
        <p>
            Le recrutement s’effectue via <a href="https://www.parcoursup.fr/">Parcoursup</a>.
        </p>