<p>
    En se formant au design d’objet, l’étudiant sera amené à questionner le rôle du matériau dans le produit et
    dans la réponse à donner au besoin de l’utilisateur. Pour cela, il engagera un certain nombre de pratiques
    qui vont de l’expérimentation au prototype en passant par la maquette.
</p>
<p>
    Il s’interrogera également sur les valeurs d’estime, d’usage et technique en apprenant à en maîtriser les
    codes (étude des tendances, sémiologie, ergonomie, proxémie, modes conventionnels de représentation, mises
    en œuvre artisanales et industrielles).
</p>
<p>
    Ainsi, dans une démarche de création critique, il concevra des objets en rapport avec les préoccupations
    sociétales et environnementales contemporaines (développement durable, éco-conception, économie circulaire
    et participative, etc.) et exploitera en conscience les matériaux idoines.
</p>
<p>
    <a href="test.pdf">Consulter le catalogue de cours</a>
</p>